@tailwind base;
@tailwind components;
@tailwind utilities;

/* props*/
:root {
  /* Dark theme */
  --scrollbar-track-color: #2c2c2c;
  --scrollbar-thumb-color: #939393;
  --scrollbar-thumb-hover-color: #555;

  /* Light theme */
  --scrollbar-track-color-light: #dcdcdc;
  --scrollbar-thumb-color-light: #a0a0a0;
  --scrollbar-thumb-hover-color-light: #787878;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box; /* This will make the border transparent and retain the thumb size */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}
/* text area scrollbar hidden */
textarea::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

/* For IE, Edge, and Firefox */
textarea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
