@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 14px; /* Adjust width of scrollbar */
}

::-webkit-scrollbar-track {
  background: #2c2c2c; /* Color of the tracking area */
  border: 2px solid #3d3d3d;
}

::-webkit-scrollbar-thumb {
  background: #939393; /* Color of the scroll thumb */
  border-radius: 10px; /* Rounded corners of the scroll thumb */
  border: 4px solid #2c2c2c; /* Border color matching the track */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scroll thumb on hover */
}

::-webkit-scrollbar-thumb {
  background: #939393; /* Color of the scroll thumb */
  border-radius: 10px; /* Rounded corners of the scroll thumb */
  border: 3px solid #2c2c2c; /* Border color matching the track */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scroll thumb on hover */
}
