@tailwind base;
@tailwind components;
@tailwind utilities;

/* props*/
:root {
  /* Dark theme */
  --scrollbar-track-color: #2c2c2c;
  --scrollbar-thumb-color: #939393;
  --scrollbar-thumb-hover-color: #555;

  /* Light theme */
  --scrollbar-track-color-light: #dcdcdc;
  --scrollbar-thumb-color-light: #a0a0a0;
  --scrollbar-thumb-hover-color-light: #787878;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box; /* This will make the border transparent and retain the thumb size */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}
/* text area scrollbar hidden */
textarea::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

/* For IE, Edge, and Firefox */
textarea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Decagon container for centering both elements */
.decagon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Background decagon for outline */
.decagon-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 102%; /* Slightly larger to create outline effect */
  height: 102%; /* Slightly larger to create outline effect */
  transform: translate(-1%, -1%); /* Center it perfectly */
  background-color: #f59e0b; /* Outline color equivalent to tailwind yellow-500 */
  -webkit-clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 65%,
    80% 90%,
    50% 100%,
    20% 90%,
    0 65%,
    0 35%,
    20% 10%
  );
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 65%,
    80% 90%,
    50% 100%,
    20% 90%,
    0 65%,
    0 35%,
    20% 10%
  );
  z-index: 5; /* Place behind main image */
}

/* Main decagon with profile image */
.decagon {
  position: relative;
  width: 100%; /* Match the container dimensions */
  height: 100%; /* Match the container dimensions */
  -webkit-clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 65%,
    80% 90%,
    50% 100%,
    20% 90%,
    0 65%,
    0 35%,
    20% 10%
  );
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 65%,
    80% 90%,
    50% 100%,
    20% 90%,
    0 65%,
    0 35%,
    20% 10%
  );
  z-index: 10; /* Place above background */
}
